body
{
    font-family: 'Special Elite' , cursive;
    background: rgb(245, 165, 234);

}

.header_div
{
    background:rgb(165, 222, 245);
    color: rgb(47, 255, 231);

}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color:bisque;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;

}
 
.main_div button{
    font-family:'Roboto', sans-serif;
    margin-top:30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color:rgb(219, 133, 22);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;

}


